.container {
  display: flex;
}

.sidebar {
  flex-basis: 25%;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 1rem;

}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
}

.sidebar a:hover {
  background-color: #4a995a;
}

.sidebar .active {
  background-color: #4a995a;
  font-weight: bold;
}
.listItem{
    background: #4a995a;
}



.content {
  flex-grow: 1;
}
